.sidebar {
    overflow: hidden;
    position: fixed;
    top: 0;
    /* left: 0; */
    right: 0;
    /* bottom: 0; */
    /* visibility: hidden; */
    z-index: 1;
    max-width: 365px;
    height: 100%;
    background-color: white;
    transform-origin: right;
    transform: translateX(100%);

    /* width: 250px; */
    /* transition: width 0.3s ease-in-out; */
    /* touch-action: none; */
    /* user-select: none; */
    /* -webkit-user-drag: none; */
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    /* outline: none; */
}

.sidebarActive{
    /* composes: .sidebar; */
    opacity: 1;
    transform: translate(0%, 0%);
    position: fixed;
    background-color: #fff;
    height: 100%;
    
    /* will-change: transform; */
    /* right:25vw;
    transition: width 0.3s ease-in-out;
    width: 250px */
}