.sidebar {
    position: fixed;
    top: 0;
    right: 0%;
    z-index: 1;
    max-width: 365px;
    width: 365px;
    height: 100%;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.4);
}

#imageDiv {

}

#dataInfo{
    list-style: none;
    /* columns: unset; */
}